.notification {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-20px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.success {
    color: green;
}

.error {
    color: red;
    background: lightpink;
    border-color: red;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
